<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Listado de fotos de Picsum </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-search-bar (setFilter)="filterSearch($event)"></app-search-bar>
  <app-list *ngIf="!elementSearched" [data]="getData()" [itemToSearch]="elementSearched"></app-list>
  <app-list *ngIf="elementSearched" [data]="getData()" [itemToSearch]="elementSearched"></app-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
